<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>All Users</title>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

	<div class="col-md-8 text-left">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username:</th>
				</tr>
			</thead>
			<tr th:each="user : ${allUsers}">
				<td th:text="${user.username}"></td>
				<td th:text="${user.getRoles()}"></td>
				<td>

					<div>
						<a th:href="@{/make-admin-account?username=} + ${user.username}">
							<input type="submit" class="btn btn-primary" value="make admin" />
						</a>
					</div>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>
