<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <h1>Register Page</h1>
        <form th:action="@{/register}" method="post" th:object="${userForm}">
        <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-danger'">
            <label class="form-control-label" for="inputUsername">Username</label>
            <input type="text" class="form-control form-control-danger" id="inputUsername" th:field="*{username}"/>
            <div class="form-control-feedback" th:each="error : ${#fields.errors('username')}" th:text="${error}">Sorry, that username's taken. Try another?</div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-danger'">
            <label class="form-control-label" for="inputPassword">Password</label>
            <input type="password" class="form-control form-control-danger" id="inputPassword" th:field="*{password}"/>
            <div class="form-control-feedback" th:each="error : ${#fields.errors('password')}" th:text="${error}">Sorry, that passwords's taken. Try another?</div>
        </div>
            <input type="submit" class="btn btn-primary" value="Register"/>
        </form>
    </div>
</body>
</html>