<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/home}">Home</a>
			<a class="navbar-brand" th:href="@{/user}">User Details</a>
			<a class="navbar-brand" th:href="@{/add-admin}">Add Admin</a>
			<a class="navbar-brand" th:href="@{/make-admin}">Make Admin</a>
			<a class="navbar-brand" th:href="@{/all-accounts}">All Accounts</a>
			<a class="navbar-brand" th:href="@{/admins}">Admins</a>
			<a class="navbar-brand" th:href="@{/users}">Users</a>
			<a class="navbar-brand" th:href="@{/delete-account}">Delete Account</a>
			<a class="navbar-brand" th:href="@{/logout}">Logout</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>